<!DOCTYPE html>
{%extends "campus/base.html"%}

{%block body_block%}
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
         
          <br>
          <h2>DASHBOARD</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container">
        <div class="jumbotron">
            <table class="pos2">
                <tr>
                    <td><a href=" http://127.0.0.1:8000/company/company_login/jp/  " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">Post vacancy</b></a></td></tr><tr>
                <td><a href="http://127.0.0.1:8000/company/company_login/jd/  " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem">Update vacancy</b></a></td></tr><tr>
            <td><a href=" http://127.0.0.1:8000/company/company_login/selectstu/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem">Select students</b></a></td>
              <tr>  <td ><a href=" http://127.0.0.1:8000/company/company_login/ccd/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem">Update details</b></a></td>
            
                </tr>
                <tr>  <td ><a href=" http://127.0.0.1:8000/company/company_login/deletevacan/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem">Delete vacancy</b></a></td>
            
                </tr>
                <tr>  <td ><a href=" http://127.0.0.1:8000/company/company_login/viewpos/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem">Posted vacancies</b></a></td>
            
                </tr>
            </table>
        </div>
          
      </div>
    </div>
    
    
{%endblock%}