{% extends "campus/base.html" %}

{%block body_block%}

      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          
            <br>
            <h2>Select students </h2>
          </div>
        </div>
      </div>
</div>
<div class="container-fluid">

  <div class="jumbotron jumbotron-fluid">
      <table class="">
          <tr>
      
              <form method="post">
                  {% csrf_token %}
               <table style="text-align: left;">
                   <tr><th>JOB ID:<input type="text"  size="10" name="jobid" required  style="font-size: 1rem;font-family: Comic Sans MS, cursive, sans-serif"></th></tr>
                   <tr><th>10th cgpa:<input type="number" step="0.01" size="10" name="tenth" min="0" required max="10"  style="font-size: 1rem;font-family: Comic Sans MS, cursive, sans-serif" value="0"></th></tr>
                   <tr><th>12th percentage:<input type="number" step="0.01" size="10" name="twth" min="0" required max="100" value="0"  style="font-size: 1rem;font-family: Comic Sans MS, cursive, sans-serif"></th></tr>
                   <tr><th>Btech cgpa:<input type="number" step="0.01" size="10" name="btech" value="0" min="0" required max="10"  style="font-size: 1rem;font-family: Comic Sans MS, cursive, sans-serif"></th></tr>
             
               </table>
             <input type="submit" value="SEARCH">
                  <table border="1px" style="text-align: center;border-collapse: collapse;background-color:rgb(195, 228, 228);padding-top: 40%; width: 100%" >
                     <tr >
                         <th style="font-size:1.5rem;color: #083166">Name</th>
                         <th style="font-size:1.5rem;color: #083166">Gender</th>
                         <th style="font-size:1.5rem;color: #083166">Branch</th>
                         <th style="font-size:1.5rem;color: #083166">10th cgpa</th>
                         <th style="font-size:1.5rem;color: #083166">12th percentage</th>
                         <th style="font-size:1.5rem;color: #083166">Btech cgpa</th>
                         <th style="font-size:1.5rem;color: #083166">Certifications count</th>
                         <th style="font-size:1.5rem;color: #083166">Internship</th>
                         <th style="font-size:1.5rem;color:darkred">SELECT</th>
             
                     </tr>
             
                      {%  for l in y %}
                          {% for i in l %}
                     <tr>
                         <td>{{ i.name }}</td>
                     <td>{{ i.branch }}</td>
                     <td>{{ i.gender }}</td>
                     <td>{{ i.class_10_cgpa }}</td>
                         <td>{{ i.class_12_percentage }}</td>
                         <td>{{ i.cgpa_Btech }}</td>
                         <td>{{ i.certifications_count }}</td>
                         <td>{{ i.internship }}</td>
                         <td><a href="http://127.0.0.1:8000/company/company_login/selectstu/{{ i.username}}/" target="popup" onclick="window.open('http://127.0.0.1:8000/company/company_login/selectstu/{{ i.username}}/','popup','width=600,height=600'); return false;" style="">Select</a></td>
                     </tr>
                     {% endfor %}
                      {% endfor %}
                 </table>
             
             
             </form>
              </tr>
      </table>
  </div>
  
</div>

{% endblock %}




