<!Doctype html>
{% extends "campus/base.html" %}

{%block body_block%}

      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          
            <br>
            <h2> Hello {{ user.username|title }}!</h2>
          </div>
        </div>
      </div>
</div>
<div class="container">

  <div class="jumbotron">
      <table class="pos2">
          <tr>
              <td  ><a href="http://127.0.0.1:8000/student/student_login/dispstu/ " class="btn btn-lg btn-primary mx-5 d-inline-flex "><b style="font-size: 2rem">View profile</b></a></td></tr><tr>
          <td ><a href="http://127.0.0.1:8000/student/student_login/usd/ " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem">Update Profile</b></a></td></tr><tr>
      <td ><a href=" http://127.0.0.1:8000/student/student_login/applyjob " class="btn btn-lg btn-primary mx-5 d-inline-flex"><b style="font-size: 2rem">Apply for company</b></a></td>
          </tr>
      </table>
  
  </div>
  
</div>

{% endblock %}




