<!DOCTYPE html>
{%extends "campus/base.html"%}

{%block body_block%}
    <div class="container-fluid">
      
          <div class="row">
              <div class="col-md-6 mx-auto text-center mb-5 section-heading">
               
                <br>
                <h2>Posted Vacancies</h2>
              </div>
            </div>
          </div>
          <div class="container">
          <div class="jumbotron">
              <form method="post">
                  {% csrf_token %}
                 <table border="1px" style="text-align: center;border-collapse: collapse;background-color:rgb(176, 240, 195)" width="100%"   >
                     <tr >
                         <th style="font-size:1.5rem;color: #16156d">job id</th>
                         <th style="font-size:1.5rem;color: #16156d">Designation</th>
                         <th style="font-size:1.5rem;color: #16156d">Salary</th>
                         <th style="font-size:1.5rem;color: #16156d">Bond_years</th>
                         <th style="font-size:1.5rem;color: #16156d">IT</th>
                         <th style="font-size:1.5rem;color: #16156d">Mech</th>
                         <th style="font-size:1.5rem;color: #16156d">Civil</th>
                         <th style="font-size:1.5rem;color: #16156d">Ece</th>
                         <th style="font-size:1.5rem;color: #16156d">EEE</th>
                         <th style="font-size:1.5rem;color: #16156d">CSE</th>
                         <th style="font-size:1.5rem;color: #16156d">Chemical</th>
             
             
             
                     </tr>
                     {%  for i in y %}
                     <tr>
                     <td>{{ i.job_id }}</td>
                     <td>{{ i.designation }}</td>
                     <td>{{ i.salary }}</td>
                     <td>{{ i.bond_years }}</td>
                     <td>{{ i.information_technology }}</td>
                     <td>{{ i.mech }}</td>
                     <td>{{ i.civil }}</td>
                     <td>{{ i.ece }}</td>
                     <td>{{ i.eee }}</td>
                     <td>{{ i.cse }}</td>
                     <td>{{ i.chemical }}</td>
                     </tr>
                     {% endfor %}
                 </table>
                  </form>
              </div>
          </div>
          


      </div>
      


{%endblock%}
 